
.mat-dialog-actions {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mat-dialog-title {
    margin-top: 0 !important;
    color: white;
    background-color: #673ab7;
    text-align: center;
    width: 100%;
    /*font-size: 20px;*/
}